<a href="https://colab.research.google.com/github/Sjaikjasmine2004/NIYAZ_FMML_LABS/blob/main/FMML_2023_Basics_of_Python_LAB_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting Started

FMML Module 1, Lab 1 <br>
 Module Coordinator: Amit Pandey ( amit.pandey@research.iiit.ac.in ) <br>
 Release date: Aug 2022 <br>

### In this notebook we will be covering the very basics of Python and some basic libraries such as Numpy, Matplotlib and Nltk.
#### It is suggested that you go through each line and try some examples.

#### Section 1 - Python : Basic data types and indexing.

In [1]:
## Strings
'''
A string is a collection of one or more characters put in a single quote,
 double-quote or triple quote. In python there is no character data type,
 a character is a string of length one. It is represented by str class.

String can have special characters. String can be indexed

'''


name = 'First Lab'
name_extended = name + 'Module 1'
last_element_string = name[-1] # -1 in python is index of the last element.
## indexing is important for preprocessing of the raw data.

In [2]:
print(name ,"\n", name_extended, "\n", last_element_string)

First Lab
 First LabModule 1
 b

In [3]:
## List

'''
Lists are ordered collection of data, and are very similar to arrays,
It is very flexible as the items in a list do not need to be of the same type.
'''

name_list = ['First Lab', 3 , '1.1' , 'Lab 1'] ## notice elements are of different data type.
name_list.extend(['Module 1']) ## adding elements to list (Read about append method as well).
element_2 = name_list[1] ## Just like other languages, the index starts from 0.
two_dimesional_list = [[1,2],[3,4]] ## practice with multi-dimensional lists and arrays
## you would soon be required to handle 4 dimensional data :p :)
name_list[2] = '1.111' ##list elements can be changed

In [4]:
print(name_list)
print(element_2)
print(two_dimesional_list)
## list can have list, dictionary, string etc.

['First Lab', 3, '1.111', 'Lab 1', 'Module 1']
3
[[1, 2], [3, 4]]

In [5]:
## Tuples

name_tuple = ('First Lab', 1, (2,3),[1,1,'list having string']) ## A tuple can have a tuple.

print(name_tuple[2])
print("first indexing the last element of the tuple, which is a list and \n then last element of the list (a string) and then second last element of the string:")
print(name_tuple[-1][-1][-2])

(2, 3)
first indexing the last element of the tuple, which is a list and
 then last element of the list (a string) and then second last element of the string:
n

In [6]:
## tuples are immutable, read the error !
 #usued when passing parameters etc. and dont want them to be changed

name_tuple = (2)
print(name_tuple)

2

In [7]:
## Sets
'''a Set is an unordered collection of data types that is iterable, mutable and has no duplicate elements.
The order of elements in a set is undefined though it may consist of various elements.
The major advantage of using a set, as opposed to a list,
 is that it has a highly optimized method for checking whether a specific element is contained in the set.
'''
set_unique = set([1,1,2,3,5,6,'Lab1'])
print(set_unique) ##notice it is unordered
last_el = set_unique.pop()
set_unique.add((1,2))


print(last_el)
print(set_unique)

{1, 2, 3, 5, 6, 'Lab1'}
1
{2, 3, (1, 2), 5, 6, 'Lab1'}

In [8]:
print(set_unique) ##it is not indexable

{2, 3, (1, 2), 5, 6, 'Lab1'}

In [9]:
## Dictionary
'''
Dictionary in Python is an unordered collection of data values, used to store data values like a map,
 which, unlike other data types which hold only a single value as an element.
'''

dic = {'1': 'A','2':'B', 'C':3 } ##Observe how key and values can be anything
dic['4'] ='New'
print(dic)

{'1': 'A', '2': 'B', 'C': 3, '4': 'New'}

# Question 0:
###### write down 3-5 methods applicable to each data type. (Hint: extend, reverse, etc.
#Answer:
Data types in python:

###*1.Strings*: some of the String metods in python

**upper()**:converts string into upper case.

**lower():**converts string into lower case.

**count():**Returns the number of times a specified value occurs in a string.

**isalpha():**Returns True if all characters in the string are in the alphabet.

###*2.Lists* :some of the list methods in python

*append():* Adds an element to the end of the list.

*insert(index, element):* Inserts an element at the specified index.

*pop(index):* Removes and returns the element at the specified index.

**sort():**Sorts the list in ascending order.

**reverse():**Reverses the order of elements in the list.

###*3.Dictionaries*:some of the dictionaries methods in python

*get(key):* Retrieves the value associated with the specified key.

*put(key, value):* Adds or updates a key-value pair in the dictionary.

*remove(key):* Removes the key-value pair with the specified key.

*keys():* Returns a list of all keys in the dictionaries.

**values():**Returns a list of all values in the dictionaries.

###*4.Numerics*: some of the numeric methods in method
*add(number):* Adds a number to the existing number.

**subtract(number): **Subtracts a number from the existing number.

**multiply(number):**Multiplies the number by another number.

**divide(number):**Divides the number by another number.

**sqrt():**Calculates the square root of the number.
###*5.Sets*: some of the set methods in python

**add(element):**Adds an element to the set.

*remove(element):* Removes an element from the set.

*union(other_set):* Returns a new set containing elements from both sets.

**intersection(other_set):**Returns a new set containing common elements between two sets.

**difference(other_set):**Returns a new set with elements that are in the first set but not in the second set.
*italicized text*

In [10]:
#Numeric Data type
x = 5
y = 3
result1 = x + y
result2 = x - y
result3 = x * y
result4 = x / y
result5 = x % y
# result is now 8
print(result1)
print(result2)
print(result3)
print(result4)
print(result5)

8
2
15
1.6666666666666667
2

In [11]:
#Strings Data Type
a="chakresh"
b=a.upper()
print(b)
a.lower()
print(a)
c=a.isalpha()
print(c)

CHAKRESH
chakresh
True

In [12]:
#List Data Types
a=[2,6,1,9,10]
a.append(1)
print(a)
a.insert(3,7)
print(a)
a.reverse()
print(a)
a.sort()
print(a)
a.pop(1)
print(a)

[2, 6, 1, 9, 10, 1]
[2, 6, 1, 7, 9, 10, 1]
[1, 10, 9, 7, 1, 6, 2]
[1, 1, 2, 6, 7, 9, 10]
[1, 2, 6, 7, 9, 10]

In [13]:
dicte = {
    "name": "chakresh",
    "age": 18,
    "city": "kakinada"
}

name = dicte.get("name")
print("Name:", name)

dicte["job"] = "Engineer"
print("Updated Dictionary:", dicte.pop("age"))
print("Dictionary after removing 'age':", dicte)

keys = dicte.keys()
print("Keys in the dictionary:", keys)

values = dicte.values()
print("Values in the dictionary:", values)

Name: chakresh
Updated Dictionary: 18
Dictionary after removing 'age': {'name': 'chakresh', 'city': 'kakinada', 'job': 'Engineer'}
Keys in the dictionary: dict_keys(['name', 'city', 'job'])
Values in the dictionary: dict_values(['chakresh', 'kakinada', 'Engineer'])

In [14]:
# Creating a set
vegetables = {"potato", "tomato", "onion"}

vegetables.add("carrot")

vegetables.remove("tomato")

if "potato" in vegetables:
    print("Yes, potato is in the set")

for vegetables in vegetables:
    print(vegetables)

num_vegetables = len(vegetables)
print(f"There are {num_vegetables} vegetables in the set")

even_numbers = {x for x in range(1, 11) if x % 2 == 0}

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

union_set = set1.union(set2)
print("Union:", union_set)

intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)

difference_set = set1.difference(set2)
print("Difference:", difference_set)

is_subset = set1.issubset(set2)
print("Is set1 a subset of set2?", is_subset)

Yes, potato is in the set
onion
carrot
potato
There are 6 vegetables in the set
Union: {1, 2, 3, 4, 5, 6, 7}
Intersection: {3, 4, 5}
Difference: {1, 2}
Is set1 a subset of set2? False

## Section 2 - Functions
### a group of related statements that performs a specific task.

In [15]:
def add_new(a:str, b): ## a and b are the arguments that are passed. to provide data type hint
                              # def add_new(x: float, y: float) -> float:
  sum = a + b
  return sum

ans = add_new(1,2) ## intentionally written str, and passed int, to show it doesn't matter. It is just hint
print(ans)

3

In [16]:
print(ans)

3

In [17]:
def check_even_list(num_list):

    even_numbers = []

    # Go through each number
    for number in num_list:
        # Once we get a "hit" on an even number, we append the even number
        if number % 2 == 0:
            even_numbers.append(number)
        # Don't do anything if its not even
        else:
            pass
    # Notice the indentation! This ensures we run through the entire for loop
    return even_numbers

#### Question 1 :

##### Define a function, which takes in two strings A and B. Reverses the first string A, adds it to B, and returns the final string.

In [18]:
def reverse_and_concatenate(A, B):
    reversed_A = A[::-1]
    result = reversed_A + B
    return result
string = "chakresh"
string1 = "ram"
result = reverse_and_concatenate(string, string1)
print(result)  # Output will be "olleHWorld"

hserkahcram


#### Question 2 :
##### Given a list having Names, work_hours, and gender, Write a function to print name of the female worker that worked the most hours. Also how much do should she be paid if the pay is $ 20 per hour.

##### work_hours = [('Abby',100 , 'F'),('Billy',400, 'M'),('Cassie',800,'F'), ('Maggi',600,'F'),('Alex',500,'M'),('Raj',225,'M'),('Penny',920,'F'),('Ben',300,'M')]

##### Answer : the female worker that worked the most hours is Penny and she should be paid 18400

In [19]:
# Question 2 Answer:

def top_female_worker(a):
    max_h = 0
    top_female = None

    for name, hours, gen in a:

        if gen == 'F' and hours > max_h:
            max_h = hours
            top_female = name

    return top_female, max_h

a = [('Abby', 100, 'F'), ('Billy', 400, 'M'), ('Cassie', 800, 'F'), ('Maggi', 600, 'F'), ('Alex', 500, 'M'), ('Raj', 225, 'M'), ('Penny', 920, 'F'), ('Ben', 300, 'M')]
rate = 20

female_worker, max_hours = top_female_worker(a)
total_payment = max_hours * rate

print(f"The female worker with the most hours is {female_worker} and she should be paid ${total_payment}.")

The female worker with the most hours is Penny and she should be paid $18400.

#### Section 3 - Libraries and Reading data.

##### Numpy - One of the most used libraries - supports for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays.

In [20]:
import numpy as np

In [21]:
#import numpy as np
a = np.array([1,1,2,3,4,5,5,6,1]) ## np.array converts given list to array

b = a>1 ## important comparison operation, where frequently used in manipulation and image processing.

print(b)
print(a[b]) ## [printing only those values in a which are greater than 1]

[False False  True  True  True  True  True  True False]
[2 3 4 5 5 6]

In [22]:
a_range = np.arange(10,19).reshape(3,3) ## create a 3x3 array with values in range 10-19
a_range

array([[10, 11, 12],
       [13, 14, 15],
       [16, 17, 18]])

In [23]:
## Indexing in arrays works same as that of list

a_range[0] # printing all the columns of first row

array([10, 11, 12])

In [24]:
a_range[:,2] #printing all the rows of second column

array([12, 15, 18])

In [25]:
iden = np.eye(3) #idnetity matrix of given size
iden

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [26]:
## adding two matrices
summed = a_range + iden
summed

array([[11., 11., 12.],
       [13., 15., 15.],
       [16., 17., 19.]])

In [27]:
### arrays support normal matrix multiplication that you are used to, point-wise multiplication
### and dot product as well.

mul = a_range@iden ## normal multiplication
mul

array([[10., 11., 12.],
       [13., 14., 15.],
       [16., 17., 18.]])

In [28]:
## point wise multiplication
p_mul = a_range * iden
p_mul

array([[10.,  0.,  0.],
       [ 0., 14.,  0.],
       [ 0.,  0., 18.]])

In [29]:
## Transpose of a matrix.

mtx_t = mul.T
mtx_t

array([[10., 13., 16.],
       [11., 14., 17.],
       [12., 15., 18.]])

In [30]:
### Here we are changing the values of last row of the transposed matrix.
### basically point wise multiplying the values of last row with 1,2 and 3

mtx_t[2] = mtx_t[2]*[1,2,3] ## indexing, point wise multiplication and mutation of values
mtx_t

array([[10., 13., 16.],
       [11., 14., 17.],
       [12., 30., 54.]])

In [31]:
## Just like the greater than 1 (a>1) example we saw earlier.
## here we are checking if the elements are divisible by 2 (%), and if they are, then replace by 0.

mtx_t[(mtx_t % 2 == 0)] = 0 ## convert even elements of the matrix to zero.
mtx_t

array([[ 0., 13.,  0.],
       [11.,  0., 17.],
       [ 0.,  0.,  0.]])

#### Question 3 :

##### a)Create a 5x5 matrix of the following form,

##### [[1,1]
#####  [2,2]]

#####  i.e. each row is increasing and has repetive elements.

######  Hint : you can use hstack, vstack  etc.

In [32]:
import numpy as np

matrix = np.empty((5, 5), dtype=int)

matrix[::2, ::2] = 1
matrix[1::2, ::2] = 2
matrix[::2, 1::2] = 1
matrix[1::2, 1::2] = 2

print(matrix)

[[1 1 1 1 1]
 [2 2 2 2 2]
 [1 1 1 1 1]
 [2 2 2 2 2]
 [1 1 1 1 1]]

##### b) find dot product of the matrix with any matrix. (Figure out the size/ shape of the matrix)

In [33]:
import numpy as np

matrix_a = [[(i % 2) + 1 for i in range(j, j + 5)] for j in range(0, 5, 2)]
matrix_a = np.array(matrix_a)

matrix_b = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15]])

result = np.dot(matrix_a, matrix_b)

print(result)
print("result=", result.shape)

[[49 56 63]
 [49 56 63]
 [49 56 63]]
result= (3, 3)

#### Reading Files

In [34]:
## loading from the google drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [35]:
with open ('/content/sample_data/README.md', 'r') as f:
  a = f.readlines()

a ## here a is list of elements/strings each splitted at \n, \n is also part of the list element.

['This directory includes a few sample datasets to get you started.\n',
 '\n',
 '*   `california_housing_data*.csv` is California housing data from the 1990 US\n',
 '    Census; more information is available at:\n',
 '    https://developers.google.com/machine-learning/crash-course/california-housing-data-description\n',
 '\n',
 '*   `mnist_*.csv` is a small sample of the\n',
 '    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is\n',
 '    described at: http://yann.lecun.com/exdb/mnist/\n',
 '\n',
 '*   `anscombe.json` contains a copy of\n',
 "    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it\n",
 '    was originally described in\n',
 '\n',
 "    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American\n",
 '    Statistician. 27 (1): 17-21. JSTOR 2682899.\n',
 '\n',
 '    and our copy was prepared by the\n',
 '    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).\n']

In [36]:
import pandas as pd

df = pd.read_csv('/content/sample_data/california_housing_test.csv','r')
df.head(10) ## pass as argument number of top elements you wish to print. Head is used to have a quick glance and understand the data.

<ipython-input-36-ad5bb400a483>:3: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  df = pd.read_csv('/content/sample_data/california_housing_test.csv','r')

,"longitude,""latitude"",""housing_median_age"",""total_","ooms"",""total_bed","ooms"",""population"",""households"",""median_income"",""median_house_value"""
0,"-122.050000,37.370000,27.000000,3885.000000,66...",NaN,NaN
1,"-118.300000,34.260000,43.000000,1510.000000,31...",NaN,NaN
2,"-117.810000,33.780000,27.000000,3589.000000,50...",NaN,NaN
3,"-118.360000,33.820000,28.000000,67.000000,15.0...",NaN,NaN
4,"-119.670000,36.330000,19.000000,1241.000000,24...",NaN,NaN
5,"-119.560000,36.510000,37.000000,1018.000000,21...",NaN,NaN
6,"-121.430000,38.630000,43.000000,1009.000000,22...",NaN,NaN
7,"-120.650000,35.480000,19.000000,2310.000000,47...",NaN,NaN
8,"-122.840000,38.400000,15.000000,3080.000000,61...",NaN,NaN
9,"-118.020000,34.080000,31.000000,2402.000000,63...",NaN,NaN

In [37]:
len(df.columns), df.columns

(3,
 Index(['longitude,"latitude","housing_median_age","total_', 'ooms","total_bed',
        'ooms","population","households","median_income","median_house_value"'],
       dtype='object'))

In [38]:
df.columns[0]

'longitude,"latitude","housing_median_age","total_'

In [39]:
df['longitude,"latitude","housing_median_age","total_'][:5]

0    -122.050000,37.370000,27.000000,3885.000000,66...
1    -118.300000,34.260000,43.000000,1510.000000,31...
2    -117.810000,33.780000,27.000000,3589.000000,50...
3    -118.360000,33.820000,28.000000,67.000000,15.0...
4    -119.670000,36.330000,19.000000,1241.000000,24...
Name: longitude,"latitude","housing_median_age","total_, dtype: object

In [40]:
df = df.rename(columns = {'longitude,"latitude","housing_median_age","total_':'Detail1'}) ##rename column names as at times it makes it easier for us

In [41]:
df.head(3)

,Detail1,"ooms"",""total_bed","ooms"",""population"",""households"",""median_income"",""median_house_value"""
0,"-122.050000,37.370000,27.000000,3885.000000,66...",NaN,NaN
1,"-118.300000,34.260000,43.000000,1510.000000,31...",NaN,NaN
2,"-117.810000,33.780000,27.000000,3589.000000,50...",NaN,NaN

In [42]:
df.iloc[:5, 0]  ##iloc - index - 0 to 4 rows and first column only.

0    -122.050000,37.370000,27.000000,3885.000000,66...
1    -118.300000,34.260000,43.000000,1510.000000,31...
2    -117.810000,33.780000,27.000000,3589.000000,50...
3    -118.360000,33.820000,28.000000,67.000000,15.0...
4    -119.670000,36.330000,19.000000,1241.000000,24...
Name: Detail1, dtype: object

In [43]:
import matplotlib
from matplotlib import pyplot as plt

In [ ]:
xpoints = np.array([1, 8])
ypoints = np.array([3, 10])

plt.plot(xpoints, ypoints)
plt.show()

In [ ]:
xpoints = np.array([1, 2, 6, 8])
ypoints = np.array([3, 8, 1, 10])

plt.plot(xpoints, ypoints)
plt.show()

## Creating a dataframe.
#### Task: Study about other methods of creating dataframe (for example: using Pandas Series, Lists etc.)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
values = np.arange(16).reshape(4,4)
values

In [ ]:
dataframe_from_array = pd.DataFrame(values, index = ['a','b','c','d'], columns=['w','x','y','z'] )
dataframe_from_array

In [ ]:
dataframe_from_array.loc[['a','b'],['w','x']]

In [ ]:
dataframe_from_array.iloc[0] ## it needs position as integer

In [ ]:
dataframe_from_array.iloc[1,3] #second row and last column

In [ ]:
dataframe_from_array.iloc[::2,::2]

In [ ]:

import numpy as np
from matplotlib import pyplot as plt

ys = 200 + np.random.randn(100)
x = [x for x in range(len(ys))]

plt.plot(x, ys, '-')
plt.fill_between(x, ys, 195, where=(ys > 200), facecolor='g', alpha=0.6)

plt.title("Sample Visualization")
plt.show()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
## Question 3 : Upload an image to your google drive, Use plt.imread to read image from the google drive and then print that image using plt.imshow
file_path = "/content/drive/MyDrive/download.jpeg"
arr = plt.imread(file_path)
plt.imshow(arr)
## Answer 3 :

## 1) make sure drive is loaded and then upload a test image onto your drive